
{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">

        <table>
            <caption>Recapitulatifs Du Votre Commande (avec twig)</caption>
            <thead>

            <tr>
                <th>Commande Id</th>
                <th>User Id</th>
                <th>Username</th>
                <th>Prix</th>
                <th>Date Achat</th>
                <th>Status</th>
                {% if app.session.get('roles')=='ROLE_ADMIN' %}
                <th>Detail</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>

            {% for commande in data if data is not empty %}
                <tr>
                    <td>{{commande.id}}</td>
                    <td>{{commande.user_id}}</td>
                    <td>{{commande.username}}</td>
                    <td>EUR {{commande.prix}}</td>
                    <td>{{commande.date_achat}}</td>
                    <td>{{commande.libelle}}</td>

                    {% if app.session.get('roles')=='ROLE_ADMIN' %}
                        <td><a href="{{ path('commande.detail', {id: commande.id}) }}"><img style="width:50px;height:50px" src="{{asset('images/icon.png')}}"></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}



