{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
<<<<<<< HEAD
        {% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
			<a href="{{ path('produit.add') }}"> Ajouter un produit </a>
        {% endif %}
=======
        {#{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}#}
			{#<a href="{{ path('produit.add') }}"> Ajouter un produit </a>#}
        {#{% endif %}#}
>>>>>>> 8727a8ddef7406a90d935687fb3b4d0415826e16

		<table>
			<caption>Recapitulatifs des produits (avec twig)</caption>
			<thead>
			<tr>
<<<<<<< HEAD
				<th>NOM</th>
                <th>ID</th>
				<th>Type</th>
				<th>Prix</th>
				<th>photo</th>
                {% if app.session.get('roles') == 'ROLE_CLIENT' %}
					<th>Details</th>
                {% endif %}
                {% if  app.session.get('roles') == 'ROLE_ADMIN' %}
					<th>opération</th>
                {% endif %}
=======
				<th>nom</th>
				{#<th>id</th>#}
				<th>type</th>
				<th>prix</th>
				<th>nom photo</th>
				<th>photo</th>
				<th>Details</th>
                {#{% if  app.session.get('roles') == 'ROLE_ADMIN' %}#}
					{#<th>opération</th>#}
                {#{% endif %}#}
>>>>>>> 8727a8ddef7406a90d935687fb3b4d0415826e16
			</tr>
			</thead>
			<tbody>

            {% for produit in data if data is not empty %}

				<tr>
<<<<<<< HEAD
					<td>{{produit.nom}}</td>
                    <td>{{produit.id}}</td>
					<td>{{produit.libelle}}</td>
					<td>EUR {{produit.prix}}</td>
                    {#<td>{{produit.photo}}</td>#}
					<td><img style="width:100px;height:100px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.libelle}}" ></td>

                    {% if  app.session.get('roles') == 'ROLE_ADMIN' %}
						<td>
							<a href="{{ path('produit.edit', {id: produit.id}) }}">modifier</a>
							<a href="{{ path('produit.delete', {id: produit.id}) }}">supprimer</a>
						</td>
                    {% elseif app.session.get('roles') == 'ROLE_CLIENT' %}
						<form method="post" action="{{ path('panier.validFormAdd') }}">
							<td><a href="{{ path('panier.detail', {id: produit.id}) }}"><img style="width:50px;height:50px" src="{{asset('images/icon.png')}}"></a></td>
						</form>
                    {% endif %}
                    {#{% endif %}#}

                    {#<td><a href="{{ path('produit.detail', {id: produit.id}) }}"><img style="width:80px;height:80px" src="{{asset('images/ajoutPanier.jpeg')}}"></a></td>#}
=======
					<td>{{produit.nom}}</td><td>{{produit.id}}</td><td>{{produit.libelle}}</td><td>{{produit.prix}}</td><td>
                        {{produit.photo}}</td><td>
						<img style="width:40px;height:40px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.libelle}}" >
					</td>

                    {#{% if  app.session.get('roles') == 'ROLE_ADMIN' %}#}
						{#<td>#}
							{#<a href="{{ path('produit.edit', {id: produit.id}) }}">modifier</a>#}
							{#<a href="{{ path('produit.delete', {id: produit.id}) }}">supprimer</a>#}
						{#</td>#}
                    {#{% endif %}#}

					<td><a href="{{ path('produit.detail', {id: produit.id}) }}"><img style="width:80px;height:80px" src="{{asset('images/ajoutPanier.jpeg')}}"></a></td>
>>>>>>> 8727a8ddef7406a90d935687fb3b4d0415826e16

				</tr>
            {% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

